# vim: ft=yaml shiftwidth=2 tabstop=2 expandtab smartindent :
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ app_name }}-web
  namespace: "{{ namespace | string }}"
  labels:
    app: {{ app_name }}
    service: {{ app_name }}
spec:
  externalIPs:
    - {{ external_ip }}
  port:
    targetPort: web
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: passthrough
  to:
    kind: Service
    name: {{ app_name }}
    weight: 100
  wildcardPolicy: None
